<div class="home">
  <h1>Welcome to Soon Chef</h1>
  <h3>Add your favourite recipes</h3>
  <h3>Keep them all in one place</h3>
  <div class="button-group">
    <%= link_to new_user_registration_path do %>
      <button class="devise-btn register">GET STARTED</button>
    <% end %>
    <%= link_to new_user_session_path do %>
      <button class="devise-btn login">SIGN IN</button>
    <% end %>
  </div>
</div>
