<div class="index-recipes">
  <h1 class="welcome"><%= welcome_user %></h1>
  <h2>See All Recipes</h2>
  <%= link_to new_recipe_path do %>
    <button class="add-recipe-btn">Add New Recipe</button>
  <% end %>
  <div class="recipe-cards">
    <%= render 'shared/recipe_card', recipes: @recipes %>
  </div>
</div>
