<div class="show-recipe">
  <div class="recipe-info">
    <h2><%= @recipe.name %></h2>
    <h3><%= @recipe.rating %></h3>
  </div>
  <div class="recipe-ingredients">
    <ul>
      <li><%= @recipe.ingredients %></li>
    </ul>
  </div>
  <div class="recipe-method">
    <%= @recipe.method %>
  </div>
</div>
