/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 /*
 *= require font-awesome
 */

 /* components */
@import url("./components/button.css");
@import url("./components/card.css");
@import url("./components/footer.css");
@import url("./components/form.css");
@import url("./components/icon.css");
@import url("./components/navbar.css");

@import url("./pages/home.css");
@import url("./pages/index.css");

* {
  margin: 0;
  padding: 0;
}

#app-name {
  font-family: "Sofia", cursive;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: "Actor", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h1, h2, h3, p, a, form, input {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

html {
  color: var(--black);
}

body {
  background: var(--white);
}

a {
  text-decoration: none;
  color: var(--black);
}

:root {
  --white: #F3EFEA;
  --black: #231F20;
  --blue: #7EBDC2;
  --dark-blue: #1e5457;
  --red: #e8a195;
  --shadow: 3px 0px 3px 4px #3131314f;
}
