<footer>
  <p>
    Built with
    <a href="https://rubyonrails.org/" target="_blank">Ruby on Rails</a>&nbsp;
  </p>
  <p>Built by <a href="https://github.com/HenzaT" target="_blank">Henry Thomas</a></p>
</footer>
