<header>
  <%= link_to recipes_path, class: "app-name" do %>
    <h1 id="app-name">Soon-Chef</h1>
    <i class="fa-solid fa-utensils"></i>
  <% end %>
  <%= logout_of_session %>
  <%= user_signed_in? %>
</header>
