button, input[type=submit] {
  border-radius: 50px;
  border: 0.3px solid var(--black);
  font-size: 1rem;
  color: var(--white);
  padding: 5px 10px;
  cursor: pointer;
  background: var(--dark-blue);
  transition: transform 0.3s ease-in-out;
}

button:hover, input[type=submit]:hover {
  transform: translateY(-3px);
}

.delete-btn {
  padding: 10px;
  border-radius: 50%;
  border: 0.3px solid var(--black);
}

.add-recipe-btn {
  margin: auto;
}

.devise-btn {
  border-radius: 20px;
  width: 300px;
  padding: 15px 0;
}

.devise-btn.login, .devise-btn.logout {
  background: var(--white);
  color: var(--black);
}

.devise-btn.register, .devise-btn.edit {
  background: var(--blue);
  color: var(--black);
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
