.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}

.card-image {
  height: 200px;
  width: 200px;
}

.recipe-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
